.venv/
.pytest_cache/
/tests/
.ruff_cache/
__pycache__/
*.py[cod]
/.cache/
/checkpoints
/train_data
/data/
/outputs/
/wandb/
/debug/
/results/
/assets/pi05_full_finetune_ur5e
/assets/resnet10_params.pkl
/resolved_config.yaml
configs/sites/local*.yaml
